<% provide(:title, 'GCG Events | Press') %>
<% content_for :head do%>
  <meta name="description" content="See what people are saying about GCG Events all around the globe.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<section class="hero-press">
    <!-- <div class="hero-text">
      <h2 class="big">GCG in the News</h2>
    </div> -->
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb90">News<%= link_to "New Press", new_blog_path, class:"btn btn-primary btnNewBlog btn-custom-primary" if current_user.try(:admin?) %></h3>
        <p class="text-center mb30">Whether guests are raving about the mouthwatering food or commending the supreme level of service, events catered by our international catering company are known to get people talking. See what people are saying about GCG Events.</p>
      </div>
    </div>
  </div>
</section>

<!-- press  -->
<section class="bg-light-grey">
  <div class="container">
  <% @blogs.each do |blog| %>
    <div class="row">
      <div class="box-press">
        <div class="col-md-3 col-sm-4">
          <a href="<%= blog_path(blog.title_for_slug) %>"><div class="img-blog"  style="background-image: url(<%= blog.images[-1].pic.url(:large) %>);"></div></a>
        </div>
        <div class="col-md-9 col-sm-8">
          <h4 class="color-secondary"><%= blog.title %></h4>
          <p class="small"><%= blog.pubdate.strftime("%B %d, %Y") %></p>
          <p class="mt15 mb15"><%= HTML_Truncator.truncate(blog.content_index, 75).html_safe %></p>
          <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15" %>
          <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15" if current_user.try(:admin?) %>
          <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-custom-primary-border transition pl30 pr30 mt15", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</section>

<!-- gallery  -->
<%= render 'layouts/gallery' %>

<!-- Services  -->
<%= render 'layouts/services2' %>