<% provide(:title, "GCG Events News | #{@blog.title}") %>
<% content_for :head do%>
  <meta name="description" content="<%= @blog.meta_description %>">
  <meta name="keywords" content="<%= @blog.meta_keywords %>">
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="bgGrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h4 class="color-secondary"><%= @blog.title %></h4>
        <p class="small mb30"><%= @blog.pubdate.strftime("%B %d, %Y") if @blog.pubdate.present? %></p>

        <%= image_tag(@blog.images[-1].pic.url(:large), class:'img-responsive imgbig') if @blog.images.present? %>
        <p class="mt30"><%= @blog.content.html_safe %></p>
        <div class="mt30">
          <%= link_to 'Edit', edit_blog_path(@blog.title_for_slug), class: "btn btn-custom-primary-border transition pl30 pr30 mt15" if current_user.try(:admin?) %>
          <%= link_to 'Back', blogs_path, class: "btn btn-custom-primary-border transition pl30 pr30 mt15" %>
        </div>
      </div>
    </div>

  </div>
</section>