<% provide(:title, 'GCG Events | Afiiliations') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-home"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="mb30">Afiiliations</h3>
				<p class="mt60 mb60">Enlisting the best employees is the only way we can ensure client expectations are met and exceeded. We’ve assembled a talented team across our many locations, and we’re always looking for passionate individuals to join it. <br/><br/>We offer a wide variety of opportunities for individuals at all levels of experience to grow within the industry. Complete the form below to learn more about our open positions.</p>
			</div>
		</div>
	</div>
</section>

<section class="services bg-light-grey">
	<div class="container">
		<div class="row text-center">
			<h3 class="text-center mb60">Our Services</h3>

			<div class="owl-carousel owl-theme">
	            
	            <div class="item">
	              <div class="col-md-12 colMobile">
					<div class="box-services social">
						<div class="wrap-img">
							<a href="">
								<img alt="Social Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/social-events.jpg" class="img-responsive center-block"/>
							</a>
						</div>
						<div class="text">
							<div class="icon">
								<i class="fa fa-comments-o" aria-hidden="true"></i>
							</div>
							<h4><a href="">Social Events</a></h4>
							<p>With outstanding food and supreme service, any event catered by GCG Events is sure to be a hit with guests.</p>
							<a href="" class="btn">Read more</a>
						</div>
					</div>
				</div>
	            </div>
	            <div class="item">
	            	<div class="col-md-12 colMobile">
						<div class="box-services weddings">
							<div class="wrap-img">
								<a href="/services-aircraft-cleaning">
									<img alt="Weddings" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/weddings.jpg" class="img-responsive center-block"/>
								</a>
							</div>
							<div class="text">
								<div class="icon">
									<i class="fa fa-heart" aria-hidden="true"></i>
								</div>
								<h4><a href="/services-aircraft-cleaning">Weddings</a></h4>
								<p>Your wedding is one of the most significant events in your life. We’ll ensure it’s a day to remember by crafting the menu of your dreams.</p>
								<a href="/services-aircraft-cleaning" class="btn">Read more</a>
							</div>
						</div>
					</div>
	            </div>
	            <div class="item">
					<div class="col-md-12 colMobile">
						<div class="box-services corporate">
							<div class="wrap-img">
								<a href="/services-passenger-services">
									<img alt="Corporate Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/corporate-events.jpg" class="img-responsive center-block"/>
								</a>
							</div>
							<div class="text">
								<div class="icon">
									<i class="fa fa-id-card-o" aria-hidden="true"></i>
								</div>
								<h4><a href="/services-passenger-services">Corporate Events</a></h4>
								<p>Whether planning a breakfast seminar or a black tie event, GCG Events is the perfect choice for your corporate catering needs.</p>
								<a href="/services-passenger-services" class="btn">Read more</a>
							</div>
						</div>
					</div>
	            </div>
	            <div class="item">
					<div class="col-md-12 colMobile">
						<div class="box-services sporting">
							<div class="wrap-img">
								<a href="/services-ground-support">
									<img alt="Sporting Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/sporting-events.jpg" class="img-responsive center-block"/>
								</a>
							</div>
							<div class="text">
								<div class="icon">
									<i class="fa fa-trophy" aria-hidden="true"></i>
								</div>
								<h4><a href="/services-ground-support">Sporting Events</a></h4>
								<p>With a wide range of menu items and the ability to accommodate a crowd of any size, our sports catering services are unrivaled.</p>
								<a href="/services-ground-support" class="btn">Read more</a>
							</div>
						</div>
					</div>
	            </div>
	            <div class="item">
					<div class="col-md-12 colMobile">
						<div class="box-services government">
							<div class="wrap-img">
								<a href="/services-cargo-handling">
									<img alt="Government Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/government-events.jpg" class="img-responsive center-block"/>
								</a>
							</div>
							<div class="text">
								<div class="icon">
									<i class="fa fa-university" aria-hidden="true"></i>
								</div>
								<h4><a href="/services-cargo-handling">Government Events</a></h4>
								<p>Our team is well-versed in the unique needs of government clients, including the many rules and restrictions associated with catering these events.</p>
								<a href="/services-cargo-handling" class="btn">Read more</a>
							</div>
						</div>
					</div>
	            </div>
          	</div>
		</div>
	</div>
</section>