<% provide(:title, 'GCG Events | Event Catering Gallery') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events has plenty of experience catering events from large to small, peruse our gallery for an intimate look into our capabilities.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-gallery">
		<!-- <div class="hero-text">
			<h2 class="big">GCG in photos</h2>
		</div> -->
</section>


<!-- gallery  -->
<section class="gallery">
	<div class="container">
		<div class="row">

					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery001.jpg');"></div>
					</div>
					<div class="col-md-6 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery002.jpg')"></div>
					</div>
					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery006.jpg');"></div>
					</div>
					<div class="col-md-5 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery003.jpg')"></div>
					</div>
					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery004.jpg')"></div>
					</div>
					<div class="col-md-4 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery005.jpg')"></div>
					</div>

					<div class="col-md-5 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery007.jpg')"></div>
					</div>
					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery008.jpg')"></div>
					</div>
					<div class="col-md-4 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery009.jpg')"></div>
					</div>
					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery010.jpg');"></div>
					</div>
					<div class="col-md-6 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery011.jpg')"></div>
					</div>
					<div class="col-md-3 col-sm-6 item-img">
						<div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery012.jpg');"></div>
					</div>

			</div>
		</div>
	</div>
</section>


