<% provide(:title, 'GCG Events | Private and Commercial Event Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events is the Caribbean's premiere catering services provider. Catering for private & commercial events, sporting events, corporate, weddings, and more.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>


<!-- Hero  -->
<section class="hero-home" title="Caribbean and Latin America weddings by GCG Events">
		<div class="hero-text">
			<h2>Dedicated to making you the perfect host, every time</h2>
			<a href="#where_events" class="btn btn-custom-primary transition mt30 mb30">Let Us Cater Your Next Event</a> <br>
			<a href="#where_services" class=""><i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></a>
		</div>
</section>


<!-- Services  -->
<section id="where_services" class="services bg-light-grey">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 col-sm-6 colMobile">
				<div class="box-services social">
					<div class="wrap-img">
						<a href="/social-events">
							<img alt="Caribbean and Latin America social events by GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/social-events.jpg" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<a href="/social-events"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
						</div>
						<h4><a href="/social-events">Social Events</a></h4>
						<p>With outstanding food and supreme service, any event catered by GCG Events is sure to be a hit with guests.</p>
						<a href="/social-events" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 colMobile">
				<div class="box-services weddings">
					<div class="wrap-img">
						<a href="/weddings">
							<img alt="Catered Caribbean and Latin America weddings by GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/wedding-events.jpg" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<a href="/weddings"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
						<h4><a href="/weddings">Weddings</a></h4>
						<p>Your wedding is one of the most significant events in your life. We’ll ensure it’s a day to remember by crafting the menu of your dreams.</p>
						<a href="/weddings" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 colMobile">
				<div class="box-services corporate">
					<div class="wrap-img">
						<a href="/corporate-events-catering">
							<img alt="Catered Caribbean Corporate Events by GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/corp-events.jpg" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<a href="/corporate-events-catering"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
						</div>
						<h4><a href="/corporate-events-catering">Corporate Events</a></h4>
						<p>Whether planning a breakfast seminar or a black tie event, GCG Events is the perfect choice for your corporate catering needs.</p>
						<a href="/corporate-events-catering" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 colMobile fourth">
				<div class="box-services sporting">
					<div class="wrap-img">
						<a href="/sporting-events-catering">
							<img alt="Catered Caribbean and Latin America Sporting Events by GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/sporting-events.jpg" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<a href="/sporting-events-catering"><i class="fa fa-trophy" aria-hidden="true"></i></a>
						</div>
						<h4><a href="/sporting-events-catering">Sporting Events</a></h4>
						<p>With a wide range of menu items and the ability to accommodate a crowd of any size, our sports catering services are unrivaled.</p>
						<a href="/sporting-events-catering" class="btn">Read more</a>
					</div>
				</div>
			</div>		
			<div class="col-md-4 col-sm-6 colMobile fifth">
				<div class="box-services government">
					<div class="wrap-img">
						<a href="/government-events-catering">
							<img alt="Catered Caribbean and Latin America Government Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/government-events.jpg" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<a href="/government-events-catering"><i class="fa fa-university" aria-hidden="true"></i></a>
						</div>
						<h4><a href="/government-events-catering">Government Events</a></h4>
						<p>Our team is well-versed in the unique needs of government clients, including the many rules and restrictions associated with catering these events.</p>
						<a href="/government-events-catering" class="btn">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- gallery  -->
<%= render 'layouts/gallery' %>

<!-- locations  -->
<section id="where_events" class="location">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 bgGreen">
				<h1>Where we are</h1>
				<p>GCG Events has locations throughout the Caribbean and Latin America, and each location has earned a reputation for making any event simply outstanding.</p>
				<ul>
					  <li><a class="white" href="/locations/antigua">Antigua</a></li>
                      <li><a class="white" href="/locations/barbados">Barbados</a></li>
                      <li><a class="white" href="/locations/colombia">Colombia</a></li>
                      <li><a class="white" href="/locations/jamaica">Jamaica</a></li>
                      <li><a class="white" href="/locations/grenada">Grenada</a></li>
                      <li><a class="white" href="/locations/guatemala">Guatemala</a></li>
                      <li><a class="white" href="/locations/saint-lucia">Saint Lucia</a></li>
                      <li><a class="white" href="/locations/st-thomas-usvi">St Thomas</a></li>
                      <li><a class="white" href="/locations/trinidad">Trinidad</a></li>
				</ul>
			</div>
			<div id="myid" class="col-md-6 maps" data-mylocations="<%= @locations.to_json %>">

				<div id="map" class="map-content"></div>
			
			</div>
		</div>
	</div>
</section>

<%= render 'layouts/testimonials' %>

