<% provide(:title, 'GCG Events | Privacy Policy') %>
<% content_for :head do%>
  <!-- <meta name="description" content="home description"> -->
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-home"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-left">
				<h3 class="mb30">Terms Of Service</h3>
				<h2 class="mb30 title-second">Goddard Catering Group Inc. (“GCG Group”) Terms of Service and Privacy Policy</h2>
				<h5 class="title-first">1. Terms</h5>
				<p class="mb30">The terms and conditions contained in this Terms of Service (“Terms”) govern your use of this website, including all pages within this website (collectively this “Website”) The Terms apply in full force and effect to your us of this Website.  By accessing this Website, you agree to be fully bound by these Terms, and all applicable laws and regulations. You must not use this Website if you have any objection to any of these Terms.  This Website is not for use by any minors (defines as those who are not at least 18 years of aged). The materials contained in this Website are protected by applicable copyright and trademark law.  GCG Group or its licensors own all rights to the Intellectual Property contained in this Website, and all such rights are reserved.</p>
				<h5 class="title-first">2. License</h5>
				<p class="mb10">You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained in this Website. This grant of a license is not a transfer of title, and under this license you are strictly prohibited from all of the following:</p>
				
				<ol type="a">
	        <li>modify or copy the materials;</li>
          <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
	        <li>attempt to decompile or reverse engineer any software contained on GCG Group's website;</li>
          <li>remove any copyright or other proprietary notations from the materials;</li>
          <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
          <li>publishing any Website material in any media;</li>
          <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
          <li>publicly performing and/or showing any Website material;</li>
          <li>using this Website in any way that is, or may be, damaging to this Website;</li>
          <li>using this Website in any way that impacts user access to this Website;</li>
          <li>using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
					<li>engaging in any datga mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
					<li>using this Website to engage in any advertising or marketing;</li>
				</ol>

				<p class="mb30">Certain areas of this Website are restricted from access by you and GCG Group may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion.  Any user ID and password you may have for this Website is confidential and you must maintain confidentiality of such information. In case are you not permitted to display any content in any form (including audio, video, test, in mages or other material) on this Website.

				<br/>This license shall automatically terminate if you violate any of these restrictions and may be terminated by GCG Group at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format. 
				</p>
				<h5 class="title-first">3. Disclaimer</h5>
				<p class="mb30">The materials on this Website are provided on an 'as is' basis with all faults. GCG Group makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, GCG Group does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this Website or otherwise relating to such materials or on any sites linked to this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.</p>

				<h5 class="title-first">4. Limitations</h5>
				<p class="mb10">In no event shall GCG Group, its officers, directors, employees or its suppliers, be liable to you for:</p>
				<ol type="a">
					<li>anything arising out of, or in any way connected with, your use of this Website, whether such liability is under contract, tort or otherwise; or</li>
					<li>damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on GCG Group Website, even if GCG Group or a GCG Group authorized representative has been notified orally or in writing of the possibility of such damage.</li>
				</ol>
				<p class="mb30">
				GCG Group, including its officers, directors and employees and its suppliers shall not be liable for any indirect, consequential or special liability arising ot of or in any way related to your use of this Website.
				</p>
	
				<h5 class="title-first">5. Indemnification</h5>
				<p class="mb30">You hereby indemnify to the fullest extent GCG Group, its officers, directors and employees from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) in any way related to your breach of any of the provisions of these Terms. </p>

				<h5 class="title-first">6. Accuracy of materials</h5>
				<p class="mb30">The materials appearing on this Website may include technical, typographical, or photographic errors. GCG Group does not warrant that any of the materials on this Website are accurate, complete or current. GCG Group may make changes to the materials contained on this Website at any time without notice. However GCG Group does not make any commitment to update the materials..</p>

				<h5 class="title-first">7. Links</h5>
				<p class="mb30">GCG Group has not reviewed all of the sites linked to this Website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by GCG Group of the site. Use of any such linked website is at the your own risk.</p>

				<h5 class="title-first">8. Modifications</h5>
				<p class="mb30">GCG Group reserves the right to revise the Terms at any time without notice and as it sees fit. By using this Website you agree to be bound by the then current version of the Terms. You are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.</p>

				<h5 class="title-first">9. Severability</h5>
				<p class="mb30">If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein. </p>

				<h5 class="title-first">10. Assignment</h5>
				<p class="mb30">GCG Group shall be permitted to assign, transfer, or subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

				<h5 class="title-first">11. Entire Agreement</h5>
				<p class="mb30">These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between GCG Group and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.</p>

				<h5 class="title-first">12. Governing Law</h5>
				<p class="mb60">These terms and conditions are governed by and construed in accordance with the laws of Florida and you irrevocably submit to the exclusive jurisdiction of the State or Federal courts located in that State for the resolution of any disputes.</p>

				<h2 class=" title-second"">Privacy Policy</h2>
				<p>Your privacy is important to us.</p><br>
				<p>It is Goddard Catering Group Inc.’s (“GCG Group”) policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this Privacy Policy in order for you to understand how we collect, use, communicate, disclose, safeguard and otherwise make use of personal information. We have outlined our Privacy Policy below.  The terms “we,” “us” and “our” refer to GCG Group.   By accepting our Privacy Policy and Terms of Use found at: <a href="http://www.gcg-events.com/privacy-policy">http://www.gcg-events.com/privacy-policy</a> you consent to our collection, storage, use and disclosure of your personal information described in the Privacy Policy.</p><br/>

				<p>We collect Personal Information and Non-personal Information.  Personal information includes your email information, name, Company by which you are employed, your CV and any personal information which identifies you.  Non-personal Information includes data  we collect in a form that does not, on its own, permit direct association with any specific individual. We may collect, use, transfer, and disclose non-personal information for any purpose. The following are some examples of non-personal information that we collect and how we may use it:</p><br/>
				


				  <ul>
				    <li><p>We may collect information such as occupation, language, zip code, area code, unique device identifier, referrer URL, location, and the time zone so that we can better understand customer behavior and improve our products, services, and advertising.</p></li>
				    <li><p>We may collect and store details of how you use our services, including search queries. This information may be used to improve the relevancy of results provided by our services. Except in limited instances to ensure quality of our services over the Internet, such information will not be associated with your IP address.</p></li>
				    <li><p>We may collect data about how you use your device and applications in order to help app developers improve their apps.</p></li>
				    <li><p>Such Non-personal Information includes anonymous usage data, general demographic information, URLs, Platform types, preferences generated based on the data you submit and number of clicks.</p></li>
				  </ul><br/>

				  <p class="mb60">If we do combine non-personal information with personal information the combined information will be treated as personal information for as long as it remains combined.</p>

					<h2 class=" title-second"">Information Collected</h2>
					<p class="mt20 mb10">We may track information provided to us by your browser or by our software application you view or use in connection with your submissions to us. This tracking may include the website you came from, the type of browser you use, the time and date of your access, and other information that does not personally identify you. GCG Group, online services, interactive applications, email messages, and advertisements may use "cookies" and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, tell us which parts of our websites people have visited, and facilitate and measure the effectiveness of advertisements and web searches. We treat information collected by cookies and other technologies as nonpersonal information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered personal information by local law, we also treat these identifiers as personal information. Similarly, to the extent that non-personal information is combined with personal information, we treat the combined information as personal information for the purposes of this Privacy Policy.</p>

					<p class="mb10">
						We and our partners also use cookies and other technologies to remember personal information when you use our website, online services, and applications. Our goal in these cases is to make your experience more convenient and personal. 
					</p>

					<p class="mb10">
						If you want to disable cookies check with your browser provider to find out how to disable cookies. As is true of most internet services, we gather some information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring and exit websites and applications, operating system, date/time stamp, and clickstream data.
					</p>

					<p class="mb10">
						We use this information to understand and analyze trends, to administer the site, to learn about user behavior on the site, to improve our product and services, and to gather demographic information about our user base as a whole. 
					</p>

					<p class="mb10">
						If you wish to pursue a business relationship with us or submit an employment application, you will need to register and create a personal profile and / or CV.  By registering you are authorizing us to collect, store and use the information including your email in accordance with this Privacy Policy.  The Personal Information, in general, is used to help us communicate with you.  Non-personal Information is used  to improve our information to you, our services and our needs as well as tracking trends and analyze use patterns of this website.  This Privacy Policy does not in any way limit our use or disclosure of Non-personal Information.  We reserve the right to use and disclose Non-personal Information to our affiliates, and other third parties at our sole discretion.  We do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent.  We may share your Personal Information with vendors who are performing service to GCG Group  directly related to the purpose of your submission.  Those vendors use your Personal Information only at our direction and in accordance with this Private Policy.
					</p>

					<p class="mb10">
						In the event we enter into a business transaction such as a merger, acquisition by another company, or sale of all or a portion of our assets, your Personal Information may be among the assets transferred. To this end you acknowledge and consent that such transfer is permitted by this Privacy Policy, and that any acquirer of our assets may continue to process your Personal Information as set forth in this Privacy Policy. 
					</p>

					<p class="mb60">
						If our information practices change at any time in the future, we will post the policy changes to the website so that you may opt out of the new information practices. We suggest that you check the website periodically if you are concerned about how your information is used.
					</p>

					<h2 class=" title-second"">Protection of Information</h2>
					<p class="mt20 mb10">We will protect Personal Information by implementing security measures designed to protect your information against loss or theft, as well as unauthorized access, disclosure, copying, use or modification. While we have implemented security measures we do not guarantee that you information will not be accessed, disclosed, altered or destroyed by a breach of the security measures.  You agree that by using this website that you assume these risks.</p>
					
					<p class="mb10">
						You have the right at any time to prevent us from contacting you and to have us remove your Personal Information.
					</p>

					<p class="mb10">
						This Privacy Policy applies solely to information collected by us through this website.  It does not apply to to your use of a third party website even if that access to that website is through a link that we may have provided. We are not responsible for privacy practices employed by those websites or the information or content they contain.
					</p>

					<p class="mb10">
						GCG Group reserves the right to change any term or terms of this Privacy Policy and our Terms of Service at any time.  We will notify you of significant changes to our Privacy Policy by placing a prominent notice on our website.Significant changes will go into effect 30 days following such notification.  Non-material changes or clarifications will take effect immediately.  You should check this website and the privacy page periodically for updates. 
					</p>

					<p class="mb20">
						If you have any questions regarding this Privacy Policy or the Practices of this Site, please contact us by sending an email to: info@gcggroup.com.
					</p>

					<p>
						Last Updated: The Privacy Policy was last updated on November 2017.
					</p>

			</div>
		</div>
	</div>
</section>

