<% provide(:title, 'GCG Events | Catering Services in the Caribbean') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events is a full-service catering company with 9 locations in the Caribbean. We specialize in private & commercial event, in-flight & wedding catering.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-who" title="Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="big">Who We Are</h2>
		</div> -->
</section>

<!-- locations  -->
<section class="location">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 bgGreen bg-light-orange">
				<h1>About GCG Events</h1>
				<p>A commitment to excellence, superior service, and unparalleled culinary skill — that’s what defines GCG Events. A subsidiary of GCG Group and a member of the Goddard Enterprises Group of Companies, GCG Events is a full-service catering company with nine locations in the Caribbean and Latin America. Since opening our first location in 2008, we have become a leading provider of events catering services in each of the areas we operate, including:</p>
				<ul>
					  <li><a class="white" href="/locations/antigua">Antigua</a></li>
                      <li><a class="white" href="/locations/barbados">Barbados</a></li>
                      <li><a class="white" href="/locations/colombia">Colombia</a></li>
                      <li><a class="white" href="/locations/jamaica">Jamaica</a></li>
                      <li><a class="white" href="/locations/grenada">Grenada</a></li>
                      <li><a class="white" href="/locations/guatemala">Guatemala</a></li>
                      <li><a class="white" href="/locations/saint-lucia">Saint Lucia</a></li>
                      <li><a class="white" href="/locations/st-thomas-usvi">St Thomas</a></li>
                      <li><a class="white" href="/locations/trinidad">Trinidad</a></li>
				</ul>
			</div>
			<div id="myid" class="col-md-6 maps who" data-mylocations="<%= @locations.to_json %>">
				<div id="map" class="map-content-who"></div>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'layouts/services2' %>

<!-- gallery  -->
<%= render 'layouts/gallery' %>


