<% provide(:title, 'GCG Events | Event Catering Gallery') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events has plenty of experience catering events from large to small, peruse our gallery for an intimate look into our capabilities.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-gallery">
    <!-- <div class="hero-text">
      <h2 class="big">GCG in photos</h2>
    </div> -->
</section>


<!-- gallery  -->
<section class="gallery">
  <div class="container">
    <div class="row">
          
          <% if current_user.try(:admin?) %>
            <div class="col-sm-12 text-center mb35">
              <a href="/gallery/new"><h1>Add new Gallery Image</h1></a>
            </div>
          <% end %>

          <% @gallery_images.to_enum.each_slice(6).to_a.each do | group_img | %>
          <% group_img.each_with_index do |img, i| %>
            <% if i == 0 %>
            <div class="col-md-3 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
              <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% elsif i == 1 %>
            <div class="col-md-6 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
               <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% elsif i == 2 %>
            <div class="col-md-3 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
               <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% elsif i == 3 %>
            <div class="col-md-5 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
               <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% elsif i == 4 %>
            <div class="col-md-3 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
               <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% elsif i == 5 %>
            <div class="col-md-4 col-sm-6 item-img">
              <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style='background-image: url("<%= img.pic.url(:large) %>");'></div>
              <%= link_to 'Delete',  delete_gallery_path(img), data: { confirm: 'Are you sure?' }, method: :delete if current_user.try(:admin?) %>
               <%= "<span>&nbsp;&nbsp;position: #{img.position}</span>".html_safe if current_user.try(:admin?) %>
            </div>
            <% end %>
          <% end %>
          <% end if @gallery_images.present?%>

      </div>
    </div>
  </div>
</section>
