<section class="bgGrey">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>New Gallery Image</h1>
        
        <%= form_for(@gallery_image, url:  gallery_path, :html => { :multipart => true }) do |f| %>
          <% if @gallery_image.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery image from being saved:</h2>

              <ul>
              <% @gallery_image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :pic, "Upload Gallery Image" %> <br>
            <%= f.file_field :pic, style: "padding: 4px;", required: true %>  
            <%#= In order to make multiple file uploads you'd have to do it like you did in oldpalm, add multiple true, and loop through params[:pic] in your controller and create images that way %>
          </div>

          <div class="form-group">
            <%= f.label :position %>
            <%= f.number_field :position, class: "form-control text_field", step: 0.01 %>
          </div>

          <div class="form-group">
            <%= f.submit class: "form-control btn btn-primary" %>
          </div>
        <% end %>

        <div class="mt30 mb30">
           <%= link_to 'Back', gallery_path, class: 'btn btn-default' %>
        </div>
       
      </div>
    </div>
  </div>
</section>

