/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

 

@import "bootstrap";
@import "font-awesome";

body {
	font-family: 'Roboto', sans-serif;
}

img[src="#"] {
   display: none;
}

h3, h4, h5 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #f7966b;
  margin-top: 0;
}
h4, h5 {
  font-size: 34px;
  color: #a6bc9a;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
  color: #666;
}
p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}
address {
    color: #888;
    line-height: 28px;
}
section {
    padding: 100px 0;
}

.alert {
  margin-bottom: 0px;
}

/* ------------------------- Top Navigation --------------------------- */
.navigation {
   position: relative;
   background-color: #fff;
   padding: 0;
   width: 100%;
}
a.navbar-brand{
    width: 150px;
    height: auto;
    padding: 15px 0;
    margin: 0 !important;
}
.navbar-nav {
    margin: 40px 15px 0;
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.navbar-nav > li > a {
  border-bottom: none;
    color: #747474;
    font-size: 20px;
    font-weight: unset;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0 0 5px 0;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    margin: 5px 30px;
    &:hover {
	   color: #f68655;
	   background: transparent;
	}
}

.navbar-toggle {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.minimo .navbar-toggle {
  margin-top: 20px;
}

.navbar-custom {
  font-size:12px;
  border-radius:0;
  margin-bottom:0;
      position: relative;
}

.navbar-custom .navbar-nav > li > a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle { 
    margin-top: 28px;
}
.barra .nav>li {
    text-align: center;
}
.dropdown-menu.whatwedo {
    left: -16px !important;
    min-width: 200px;
    background-color: white;
}
.dropdown-menu {
    left: -10px !important;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: 300;
    color: #747474;
    &:hover, &:focus {
        text-decoration: none;
        color: #f68655;
        background-color: #f5f5f5;
    }
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: none
}

@media only screen and (max-width: 1133px) {
  .navbar-nav > li > a {
      margin: 5px 20px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav { margin: 46px 0px 0; }
  .navbar-nav > li > a {
      font-size: 16px;
      margin: 5px 15px;
  }
}

@media only screen and (max-width: 767px) {
  a.navbar-brand {
      margin: 0 15px !important;
  }
  .navbar-toggle {
	    margin-top: 35px;
	    margin-right: 30px;
	}
	.navbar-nav {
	    margin: 5px 15px 0;
	}
  .navbar-nav > li > a {
      font-size: 18px;
      margin: 5px 15px;
      padding: 10px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #eee;
  }
  ul.dropdown-menu.whatwedo, ul.dropdown-menu.whereweare {
      display: none !important;
  }
  .open ul.dropdown-menu.whatwedo, .open ul.dropdown-menu.whereweare {
      display: block !important;
  }
}

.who_we_are a.who, 
.what_we_do a.what, 
.what_we_do_social_events a.what,
.gallery_images a.gallery, 
.join_our_team a.careers, 
.blogs a.press, 
.locations a.where{
      color:#f68655 !important;
  }


/* ------------------------ HERO --------------------------- */
.hero-home, 
.hero-who, 
.hero-gallery,
.hero-what,
.hero-press, 
.hero-social,
.hero-weddings,
.hero-corporate,
.hero-sporting,
.hero-government,
.hero-location {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/hero-home.jpg");
  background-size: cover;
  min-height: 700px;
  background-position: 50% 50%;
  position: relative;
} 
.hero-who {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/CateredEvents1.jpg");
}
.hero-what {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/CateredEvents2.jpg");
}
.hero-gallery {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/hero-gallery.jpg");
}
.hero-press {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/hero-press.jpg");
}
.hero-social {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/SocialEvents1.jpg");
}
.hero-weddings {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/hero-wedding.jpg");
}
.hero-corporate {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/CorporateEvents.jpg");
}
.hero-sporting {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/SportEventCatering.jpg");
}
.hero-government {
  background-image: url("https://s3-us-west-2.amazonaws.com/gcg-events/general/GovernmentCateredEvents.jpg");
}

.hero-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 320px;
    width: 100%;
}
.hero-text h2 {
    color: #fff;
}
.hero-text h2.big, .hero-text h2.medium  {
    font-size: 90px;
    margin:0;
    text-transform: uppercase;
}
.hero-text h2.medium {
    font-size: 50px;
}
.hero-text .btn {
    padding: 15px 30px;
}
.hero-home i {
  margin-top: 120px;
  color: white;
  &:hover{
    color: #f68655;
  }
}
@media only screen and (max-width: 991px) {
  .hero-home, 
  .hero-who, 
  .hero-gallery,
  .hero-what,
  .hero-press, 
  .hero-social,
  .hero-weddings,
  .hero-corporate,
  .hero-sporting,
  .hero-government {
      min-height: 500px;
  }
  .hero-text { top: 220px; }
  .hero-text h2.medium { font-size: 45px; }
  .hero-text h2.big { font-size: 80px; }
  .hero-home i { margin-top: 30px; }
}

@media only screen and (max-width: 767px) {
  .hero-home, 
  .hero-who, 
  .hero-gallery,
  .hero-what,
  .hero-press, 
  .hero-social,
  .hero-weddings,
  .hero-corporate,
  .hero-sporting,
  .hero-government {
      min-height: 350px;
  }
  .hero-text { top: 130px; }
  .hero-text h2.medium { font-size: 35px; }
  .hero-text h2.big { font-size: 55px; }
  .hero-home .hero-text { top: 75px; }
  .hero-home i { margin-top: 15px; }
}

/* ------------------------ SECTION WHO WE ARE HOME MAP --------------------------- */

.location li a {
  display: block;
}
.location li:hover a{
  color: #f68655 !important;
}


/* ------------------------ SECTION SERVICES --------------------------- */


.box-services {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	-moz-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	position: relative;
	overflow: hidden;
	margin-top: 60px;
}
.box-services .wrap-img {
	overflow: hidden;
}
.box-services .wrap-img img {
	transition: transform 0.3s ease-out 0s;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out 0s;
	-ms-transition: -ms-transform 0.3s ease-out 0s;
	-o-transition: -o-transform 0.3s ease-out 0s;
}
.box-services:hover .wrap-img  img{
	transform: scale(1.1) rotate(1deg);
	-webkit-transform: scale(1.1) rotate(1deg);
	-moz-transform: scale(1.1) rotate(1deg);
	-ms-transform: scale(1.1) rotate(1deg);
	-webkit-filter: brightness(90%); 
}
.box-services .text {
	padding: 30px;
	text-align: center;
	position: relative;
}
.box-services .text h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 15px 0 30px;
}
.box-services.social .text a { color: #c1e0b7 !important;}
.box-services.weddings .text a { color: #ffcf84 !important; }
.box-services.corporate .text a { color: #92b0a7 !important; }
.box-services.sporting .text a { color: #b05558 !important; }
.box-services.government .text a { color: #45606a !important; }

.box-services .text .btn {
  border-radius: 26px;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 16px;
  margin: 15px 0 0;
  transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
}
.box-services.social .text .btn { border: 2px solid #c1e0b7; }
.box-services.social:hover .text .btn{ background-color: #c1e0b7; color: #fff !important; }
.box-services.weddings .text .btn  { border: 2px solid #ffcf84; }
.box-services.weddings:hover .text .btn  { background-color: #ffcf84; color: #fff !important; }
.box-services.corporate .text .btn  { border: 2px solid #92b0a7; }
.box-services.corporate:hover .text .btn  { background-color: #92b0a7; color: #fff !important; }
.box-services.sporting .text .btn  { border: 2px solid #b05558; }
.box-services.sporting:hover .text .btn  { background-color: #b05558; color: #fff !important; }
.box-services.government .text .btn  { border: 2px solid #45606a; }
.box-services.government:hover .text .btn  { background-color: #45606a; color: #fff !important; }

.box-services .text .icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 90px;
    font-size: 50px;
    margin: -80px auto 0;
    background-color: #fff;
}
.box-services.social .text .icon { border: 3px solid #c1e0b7; color: #c1e0b7; line-height: 85px; }
.box-services.weddings .text .icon  { border: 3px solid #ffcf84; color: #ffcf84; }
.box-services.corporate .text .icon  { border: 3px solid #92b0a7; color: #92b0a7; }
.box-services.sporting .text .icon  { border: 3px solid #b05558; color: #b05558; }
.box-services.government .text .icon  { border: 3px solid #45606a; color: #45606a; }

.box-services.social:hover .text .icon, .box-services.social:hover .text .icon a { background-color: #c1e0b7; color: #fff !important; }
.box-services.weddings:hover .text .icon, .box-services.weddings:hover .text .icon a { background-color: #ffcf84; color: #fff !important; }
.box-services.corporate:hover .text .icon, .box-services.corporate:hover .text .icon a { background-color: #92b0a7; color: #fff !important; }
.box-services.sporting:hover .text .icon, .box-services.sporting:hover .text .icon a { background-color: #b05558; color: #fff !important; }
.box-services.government:hover .text .icon, .box-services.government:hover .text .icon a { background-color: #45606a; color: #fff !important; }



.owl-theme .owl-nav {
    margin-top: 30px;
}
.owl-theme .owl-nav [class*="owl-"] {
    padding: 10px 30px;
    border-radius: 25px;
    color: #f68655;
    border: 2px solid #f68655;
    background: #fff;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #f68655;
    color: #fff;
}
.owl-dots  { display: none; }

.colMobile.fourth { margin-left: 16.66666665%; }

@media only screen and (max-width: 991px) {
  .colMobile.fourth { margin-left: 0%; }
  .colMobile.fifth { margin-left: 25%; }
}
@media only screen and (max-width: 767px) {
  .colMobile.fifth { margin-left: 0%; }
}
@media only screen and (max-width: 520px) {
  .colMobile { width: 100%;}
  .box-services {  margin: 60px auto 0; }
}



/* ------------------------ SECTION WHAT WE DO --------------------------- */
.icon-box, .weddings .icon-box {
    border-radius: 50%;
    width: 185px;
    height: 185px;
    line-height: 210px;
    margin: 15px auto 0;
    border: 2px solid #f68655;
    text-align: center;
}
.weddings .icon-box {
    width: 155px;
    height: 155px;
    line-height: 180px;
}
.icon-box i, .weddings .icon-box i {
    color: #f68655;
    font-size: 75px;
        transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.weddings .icon-box i {
    font-size: 60px;
}
.weddings h6 {
    font-size: 25px;
    text-align: center;
    line-height: 35px;
}
.text-align h6, .text-align p {
    text-align: right;
}
.icotext:hover .icon-box {
  background-color: #f68655  
}
.icotext:hover .icon-box i, .weddings .icotext:hover .icon-box i {
  color: #fff  
}
.icotext:hover .icon-box i, .weddings .icotext:hover .icon-box i {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg); 
}

@media only screen and (max-width: 991px) {
  .icon-box {
      width: 145px;
      height: 145px;
      line-height: 170px;
  }
  .icon-box i {
      color: #f68655;
      font-size: 55px;
  }
}
@media only screen and (max-width: 767px) {
  .social-events h6, .social-events p, .text-align h6, .text-align p { 
    text-align: center; 
    margin: 0 auto;
    width: 80%;
  }
  .social-events h6, .text-align h6 {  
    margin: 20px auto;
  }
}
@media only screen and (max-width: 480px) {
  .social-events h6, .social-events p, .text-align h6, .text-align p { 
    width: 100%;
  }
}



/* ------------------------ SECTION GALLERY --------------------------- */
.item-img {
  padding: 10px;
  overflow: hidden;
}
.content-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
  min-height: 300px;
}
@media only screen and (max-width: 767px) {
  .content-img {
    min-height: 450px;
  }
}



/* ------------------------ SECTION LOCATIONS --------------------------- */
section.location {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.bgGreen {
  padding: 70px 5% 90px;
  background-color: #92b0a7;
  color: #fff;
}
.bgGreen h1, .bgGreen p {
  margin:0;
  padding:0;
}
.bgGreen p {
  color: #fff;
  margin: 20px 0;
}
.bgGreen ul {
    padding: 20px;
    margin:0;
}
.bgGreen ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}
.maps {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  
}
.map-container iframe{
  pointer-events: none;
}
.map-container iframe.clicked{
  pointer-events: auto;
}
.maps .map-content {
  width: 100%;
  height: 645px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@-moz-document url-prefix() { 
  .maps .map-content {
    height: 648px;
  }
}
@media only screen and (max-width: 1742px) {
  .maps .map-content { height: 675px;}
  @-moz-document url-prefix() { 
    .maps .map-content {
      height: 678px;
    }
  }
}
@media only screen and (max-width: 1141px) {
  .maps .map-content { height: 705px;}
    @-moz-document url-prefix() { 
      .maps .map-content {
        height: 708px;
      }
    }
}
.maps .map-content-who {
  height: 735px;
}
@-moz-document url-prefix() { 
  .maps .map-content-who {
    height: 738px;
  }
}
@media only screen and (max-width: 1985px) {
  .maps .map-content-who { height: 765px;}
  @-moz-document url-prefix() { 
    .maps .map-content-who {
      height: 768px;
    }
  }
}
@media only screen and (max-width: 1678px) {
  .maps .map-content-who { height: 795px;}
  @-moz-document url-prefix() { 
    .maps .map-content-who {
      height: 798px;
    }
  }
}
@media only screen and (max-width: 1459px) {
  .maps .map-content-who { height: 825px;}
  @-moz-document url-prefix() { 
    .maps .map-content-who {
      height: 828px;
    }
}
}
@media only screen and (max-width: 1332px) {
  .maps .map-content-who { height: 855px;}
  @-moz-document url-prefix() { 
    .maps .map-content-who {
      height: 858px;
    }
}
}
@media only screen and (max-width: 1139px) {
  .maps .map-content-who { height: 885px;}
  @-moz-document url-prefix() { 
    .maps .map-content-who {
      height: 888px;
    }
  }
}


@media only screen and (max-width: 1133px) {
  .maps .map-content { height: 624px;}
  .maps .map-content-who { height: 804px;}
  @-moz-document url-prefix() { 
      .maps .map-content { height: 625px; }
      .maps .map-content-who { height: 806px;}
    }
  
  .bgGreen ul { display: inline-block; }
  .bgGreen ul li { float: left; margin: 0 0 10px 0; width: 50%;}
}
@media only screen and (max-width: 1065px) {
  .maps .map-content-who { height: 836px;}
}

@media only screen and (max-width: 991px) {
  .bgGreen { padding: 70px 10% 45px; }
  .bgGreen ul { display: inline-block; }
  .bgGreen ul li {width: 33.33333333%; }
  .maps { height: 450px; overflow: hidden;}
  .maps .map-content, .maps .map-content-who { height: 450px;}
}
@media only screen and (max-width: 600px) {
  .bgGreen { padding: 70px 5% 45px; }
  .bgGreen ul li { width: 50%; }
}


/* Inline Editing */
.best_in_place {
  cursor: pointer;
  text-decoration: underline;
}

#location_image {
  width: 500px;
  height: 250px;
}


/* ------------------------ SECTION TESTIMONIAL --------------------------- */
.testimonial .carousel-inner {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.carousel-inner p {
  color: #fff;
}
.carousel-inner h6 {
    font-size: 20px;
    color: #fff;
    margin-right: 30px;
    font-style: italic;
}
.testimonial .carousel-control {
    left: 0px;
    width: 2%;
}
.testimonial .carousel-control.right {
    right:0;
    left: auto;
}
.testimonial .carousel-control .fa-chevron-left, .testimonial .carousel-control .fa-chevron-right {
    top: 30%;
    left: -20px;
    color: #ccc;
}
.testimonial .carousel-control .fa-chevron-right {
    right: 0px;
    left: inherit;
}
.carousel-indicators {
    bottom: -50px;
}

/* ------------------------ SECTION LATEST NEWS --------------------------- */
.news {
  background-color: #fff;
}
.news h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #747474;
  margin: 15px 0;
}

.news a {
  color: #747474;
  font-weight: 300;
  font-size: 18px;
  float: right;
  transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	&:hover {
	  color: #92b0a7;
	  text-decoration: none;
	}
}

img.imgbig {
    width: 100%;
}
.btnBlog {
    background-color: #cadfe1;
    border-color: #cadfe1;
    color: #fff;
    font-size: 12px;
    padding: 6px 20px;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover {
        background-color: #9bbdc0;
        border-color: #9bbdc0;
    }
}
.btnNewBlog {
    float: right;
    margin: -60px 20px 0 0;
    padding: 6px 20px;
}

.btnBlog a, .btnNewBlog a {
    color: #fff;
}

form.join .btnBlog {
    width: 100%;
}

.separator {
    background-color: #ccc;
    height: 1px;
    width: 100%;
    margin: 45px 0;
    display: inline-block;
}

img[usemap], map area{
    outline: none;
}




/* ------------------------ ABOUT - History --------------------------- */

.history p {
  padding: 0 0 0 45px;
  border-left: 3px solid #a6bc9a;
}


/* ------------------------ LOCATIONS --------------------------- */

.imgTeam {
  width: 80%;
  padding: 5px;
  border: 3px solid #92b0a7;
}

.map {
  height: 400px;
  display: block;
}

.message .form-group {
    margin-bottom: 30px;
}
.message .form-control {
    border: 2px solid #f68655;
    color: #666;
    font-size: 16px;
    height: 50px;
    padding: 10px 15px;
}
.message textarea.form-control {
    height: 80px !important;
    resize: none;
}

.message .btn-xl {
    background-color: #f68655;
    border-color: #f68655;
    color: #fff;
    font-size: 20px;
    height: 80px;
    text-transform: uppercase;
    width: 100%;
}
.message .btn-xl:hover {
    opacity: 0.8;
}
.form-control::-moz-placeholder {
    color: #ccc;
}
.form-control:focus {
    box-shadow: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .text-left.center-mobile, .text-right.center-mobile { text-align: center;}
  .text-right.center-mobile { margin: 60px 0 0;}
  .mobile50 { width: 50%;float: left;}
}
@media only screen and (max-width: 520px) {
  .mobile50 { width: 80%;float: inherit; margin: 0 auto 30px;}
}


/* ------------------------ SERVICES --------------------------- */

.carousel-control.left, .carousel-control.right {
    background:transparent;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right  {
    position: relative;
    top: 50%;
    font-size: 50px;
    left: -115px;
    text-shadow: none;
    color: #ccc;
}
.carousel-control .fa-chevron-right  {
    right: -115px;
    left: inherit;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}





/* ------------------------ PRESS --------------------------- */

.box-press { 
    width: 100%;
    margin: 30px 0;
    display: inline-block;
}
.img-blog {
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  min-height: 225px;
}
@media only screen and (max-width: 991px) {
  .img-blog { min-height: 180px;}
}

@media only screen and (max-width: 768px) {
  .box-press { 
    width: 70%;
    margin: 30px auto;
    display: block;
  }
  .img-blog { min-height: 400px;}
}

@media only screen and (max-width: 520px) {
  .box-press { 
    width: 100%;
  }
}
.small {
    font-size: 95%;
    line-height: 5px;
}




/* ------------------------ FOOTER --------------------------- */
footer {
  padding: 75px 0;
  background-color: #45606a;
  color: #fff;
}
footer ul {
    padding: 0px;
    margin:0;
    list-style-type: none;
}
footer ul li {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    &:hover {
	    color: #fff;
	    text-decoration: underline;
	}
}

footer i.fa {
    font-size: 40px;
    color: #fff;
    margin: 15px 15px 0 0;
}
footer p {
    color: #fff;
}

@media only screen and (max-width: 599px) {
  .col-xs-6.footerMobile { width: 100%; }
  footer ul { text-align: center; }
  .icon-social { width: 210px; margin: 0 auto 30px; }
  footer p { text-align: center; }
}



.privacy_policy ol > li {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}