<% provide(:title, 'GCG Events | Corporate Events Catering') %>
<% content_for :head do%>
  <meta name="description" content=" GCG Events is recognized as a leader in catering for awards, meetings, staff parties, product launches and more.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-corporate" title="Corporate Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="medium">Your Trusted Culinary Partner</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Corporate Events Catering</h3>
				<p>With extensive experience in catering a wide range of corporate events, we understand that there is no room for error when it comes to corporate functions. When GCG Events caters your company’s event, our outstanding team serves as an extension of your company. That means we are equally invested in ensuring the event is a success, and thus hold our catering team to the highest standards.<br/><br/>Too often, food comes as an afterthought when planning a corporate event — but it plays an important role. When people are hungry are left unsatisfied, the information being presented becomes secondary. It’s for this reason that enlisting a first-rate caterer is essential. Whether you are planning a breakfast seminar, in need of boxed lunches, or even holding a black tie event, GCG Events is the perfect choice for your corporate catering needs.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-grey social-events">
	<div class="container">
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-trophy" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Awards and Galas</h6>
				<p>The bigger the event, the higher the expectations of guests. Awards ceremonies and galas or major undertakings for any company, and thus having a caterer who handles every detail is important. Our skilled team can help you plan every detail, from the menu to decor. Better yet, they can execute it flawlessly, “wowing” your guests and exceeding even the highest of expectations. You focus on your business, leave the rest to our team.</p>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Meetings, Conferences and Seminars</h6>
				<p>There’s a secret to ensuring your next meeting is memorable: exquisite food. With years of corporate catering experience under our belts, we know this to be true. From breakfast meetings to large-scale conferences, food plays an important role in ensuring guests not only have a good experience, but are free of distractions like hunger. As such, it allows them to focus on the information presented and contributes to the event’s overall success.</p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Staff Parties</h6>
				<p>Your employees work hard to make your company successful, and when the time comes to show them your appreciation, choosing the right corporate catering company makes all the difference. Whether you choose to thank your staff with an upscale dinner or are planning to host a holiday party, we will cater a menu to your unique needs and ensure your team has a fantastic time.</p>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-gift" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Product Launches and Promotions</h6>
				<p>When you launch a new product or service, every detail must be expertly executed — including the launch party and any promotional events. The key to a successful event is great food and even better service, and we’re here to provide both. Together, we’ll determine the best way to meet the needs of your guests, whether that means providing hors d’oeuvres or a sit-down dinner. </p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-gift" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Customer Appreciation Parties</h6>
				<p>Your customers are what fuel your business. Showing them you appreciate their patronage plays an important role in maintaining their support. One of the best ways to show your gratitude is to hold a party for your customers, and no party is complete without amazing food. Our skilled culinary team can help you say, “thank you” with every bite your guests take. By the end of the event, your customers’ loyalty will be guaranteed.</p>
			</div>
		</div>
	</div>
</section>
