<% provide(:title, 'GCG Events | Government Events Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events caters government functions and events such as protocol functions, embassies, and presidential functions.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-government" title="Government Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="medium">Leading Caterer for Government Events</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Government Events Catering</h3>
				<p>Our international catering company is a premier caterer for government functions in both of the regions we operate. Having catered events for high dignitaries in several countries, including prime ministers, our understanding of government protocol is unequaled.<br/><br/>When catering a government event, there are many restrictions that must be followed. There are rules that dictate everything from the way government officials must be addressed to precautions that need to be taken with food preparation. To comply with these requirements, we train our highly disciplined staff to pay attention to even the smallest of details. In doing so, we guarantee impeccable service that simply cannot be found elsewhere.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-grey social-events">
	<div class="container">
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-suitcase" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Protocol Functions</h6>
				<p>When government officials travel abroad, protocol plays a major role in ensuring the security of everyone from high dignitaries to government staff. Thus, caterers of government functions must be well-versed in the appropriate protocol, which may vary given the officials in attendance and the occasion. At GCG Events, we understand the complex nature of government functions and are extremely thorough in preparing our staff for your event. We operate on a high level of standards to ensure your needs are not only met, but exceeded.</p>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-university" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Embassies</h6>
				<p>Events hosted by embassies are subject to strict guidelines, which must be thoroughly understood by those who have the honor of catering these functions. With our extensive experience catering embassy events in both Latin America and the Caribbean, we are experts in this area. As such, our team can be entrusted to adhere to these standards. Additionally, our skilled caterers can work with the host to craft a menu customized to the cultural needs and preferences of those in attendance.</p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-university" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-address-card" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Presidential Functions</h6>
				<p>There are few events more regulated than those hosted by a president or prime minister. For functions such as these, our professional catering team adheres to the highest level of protocol to ensure optimal service. In addition to providing delicious food, every member of our staff is coached on how to address guests, proper security measures, and more. Protocol is paramount in government, and it is equally important at GCG Events.</p>
			</div>
		</div>
	</div>
</section>
