<% provide(:title, 'GCG Events | Private and Commercial Social Event Catering') %>
<% content_for :head do%>
  <meta name="description" content="When GCG Events caters your social event, you can spend it the right way — being social. Book our Caribbean private or commercial social event catering now.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-social" title="Social Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="medium">Making You the Perfect Host</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Social Events Catering</h3>
				<p>With all of the planning and preparation involved, hosting a social event can be a stressful undertaking. However, that doesn’t have to be the case. When GCG Events caters your social event, you can spend it the right way — being social. We strive to make every catered event distinguished, blissful and stress-free. Our team takes care of all the details while you savor the mouthwatering food our expertly trained chefs dish out. In addition to providing outstanding food and supreme service, we can assist you with organizing linen, china, tables, chairs, tents, décor, lighting, and entertainment.<br/><br/>We cater a wide range of social occasions, from graduation parties to holiday dinners. Our skilled team can handle any crowd, whether you’re playing host to two people or 2,000. Every experience is customized to the client’s needs, ensuring his or her goals are not only met, but exceeded. Whatever the vision is for your gathering, we’re here to help you carry it out.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-grey social-events">
	<div class="container">
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Family Reunions</h6>
				<p>Families have always gathered around food; and the better the food, the better the memories. That puts a great deal of responsibility on the chef to deliver, and we take that trust very seriously. When we cater your family reunion, our team works closely with you to develop a menu the whole family will love. Then, we pair it with excellent service and handle the cleanup so all you have to do is enjoy time with family.</p>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-heart" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Anniversaries</h6>
				<p>At GCG Events, celebrating the love between two people is what we do best. Whether you’re toasting to your own relationship or a loved one’s, we can ensure the event is one your family and friends will not forget. No matter the size of your party, our team can handle every detail with excellent care. While you raise a glass to the happy couple, we’ll raise a tray to your guests. All you have to do is have a great time, and we’re here to help make sure you do.</p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-heart" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-handshake-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Charity Events</h6>
				<p>Planning an event for charity can put a great deal of pressure on a host, and enlisting a top-notch caterer is the perfect way to relieve some of it. That’s where we come in. When we cater your charity dinner or gala, we put our extensive experience to work for you to make it a success. As anyone in fundraising knows, increasing awareness about an organization can be a challenge. With your budget in mind, our highly talented staff can ensure your event is one that everyone will be talking about, keeping your organization top of mind.</p>
			</div>
		</div>
		<div class="row icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-cutlery" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Parties & Dinners </h6>
				<p>Between creating a menu and decorating, hosting an event can feel like a chore. With all the work that goes into it, enjoying the fruits of your labor can be next to impossible. We want you to enjoy the entire experience, whether you’re celebrating a sweet 16, a baby shower, or even hosting a birthday dinner. Whatever the occasion, a delicious selection of food and supreme service are our promise. </p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-cutlery" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</section>
