<% provide(:title, 'GCG Events | Sporting Events Catering') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events can provide the necessary catering for teams, staff and even cater the hospitality boxes at sporting events.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-sporting" title="Sporting Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="medium">Fueling the Game</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Sporting Events Catering</h3>
				<p>Sports and food have always been closely intertwined. For any sport, food plays an important role for fans, athletes, and others in attendance. There are a wide variety of needs that must be considered when taking on such an event. In addition to providing stadium concessions, the caterer has to ensure the teams, officials, volunteers, and even security are fed to make the event a success. When GCG Events caters your team’s game or tournament, the expectations of each of these individuals are sure to be exceeded.<br/><br/>Our team of expert chefs and servers has a winning record when it comes to sports events, largely due to our high level of standards. Our staff can create customized menus for any sporting event, whether you’re hosting a large-scale tournament or a smaller private event. Having catered the Cricket World Cup in the West Indies, where our team was responsible for all food distributed at the matches in seven different countries, our ability to handle large volumes is proven.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-grey social-events">
	<div class="container">
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-universal-access" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Teams</h6>
				<p>A team can’t play at its best without the proper fuel, and the right sporting events caterer will ensure every individual’s needs are met. At GCG Events, keeping your team satisfied is what our team strives to do. We understand that athletes often have unique dietary needs and require the highest quality of food to stay energized, and we deliver. From the pre-game breakfast to the post-game dinner, we have you covered, with plenty of healthy snacks in between to help you recharge.</p>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3 hidden-lg hidden-md hidden-sm visible-xs">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9 text-align">
				<h6 class="color-primary">Staff</h6>
				<p>While their appetites may not be as sizable as those of the athletes, keeping the staff well fed at a sporting event is equally important. Our professional team understands this, and can ensure the individuals who make the game happen are taken care of. No matter the size of the staff, our team can work within any budget restraints to provide delicious meals throughout the duration of the event.</p>
			</div>
			<div class="col-sm-3 hidden-xs">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row mb90 icotext">
			<div class="col-sm-3">
				<div class="icon-box">
					<i class="fa fa-archive" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-sm-9">
				<h6 class="color-primary">Hospitality Boxes</h6>
				<p>For most fans, the grub is just as important as the game. This is particularly true for those who spend the extra money to sit in the hospitality boxes, where one can watch the game in a more luxurious setting. Often, those who sit in these sections are entertaining clients, conducting business, or even celebrating a special occasion. For these individuals, our sports catering professionals provide only the highest level of service. Each of these guests are provided with delicious menu options and a supreme level of service, leaving with memories that will last a lifetime.</p>
			</div>
		</div>
	</div>
</section>
