<% provide(:title, 'GCG Events | Wedding Planning') %>
<% content_for :head do%>
  <meta name="description" content="GCG Events the promise is delicious food and spectacular service, to make your wedding special. ">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-weddings" title="Weddings Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="medium">Premier Wedding Caterers</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Weddings</h3>
				<p>When it comes to event catering, few occasions are viewed as more monumental than a wedding. After all, your wedding is one of the most important events in your life. For many, the menu plays an important role in making the wedding a success, and thus this aspect can’t be entrusted to just anyone. At GCG Events, spectacular service and delicious food are our promise. Our exemplary catering services extend to all wedding related events regardless of size.</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-light-grey weddings">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-1 icotext">
				<div class="icon-box">
					<i class="fa fa-birthday-cake" aria-hidden="true"></i>
				</div>
				<h6 class="color-secondary">Engagement Parties</h6>
			</div>
			<div class="col-sm-2 icotext">
				<div class="icon-box">
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<h6 class="color-secondary">Bridal Showers</h6>
			</div>
			<div class="col-sm-2 icotext">
				<div class="icon-box">
					<i class="fa fa-cutlery" aria-hidden="true"></i>
				</div>
				<h6 class="color-secondary">Rehearsal Dinners</h6>
			</div>
			<div class="col-sm-2 icotext">
				<div class="icon-box">
					<i class="fa fa-users" aria-hidden="true"></i>
				</div>
				<h6 class="color-secondary">Wedding Receptions</h6>
			</div>
			<div class="col-sm-2 icotext">
				<div class="icon-box">
					<i class="fa fa-glass" aria-hidden="true"></i>
				</div>
				<h6 class="color-secondary">Farewell Brunches</h6>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<p>Our full-service caterers have a long-established history of exceeding client expectations. We understand that every couple has their own unique tastes, and more importantly, we know how to satisfy them. So, how do we do it? It begins with a personalized approach. During our initial meeting, we create a customized menu that is sure to “wow” your guests. From grand and lavish to intimate and informal, we can create a personalized menu that matches your vision and theme. <br/><br/>During the celebration, our culinary experts bring the menu to life with masterful skill and only the freshest ingredients. Then, we execute every detail just as you and your partner have envisioned it, giving you the freedom to enjoy your special day. Our magnificent presentations are sure to incite “oohs” and “ahs” from everyone in the crowd. You can count on our team to make every part of your wedding a success, creating memories that will last a life time in the process.</p>
			</div>
		</div>
	</div>
</section>
