<% provide(:title, 'GCG Events | Private and Commercial Catering Services') %>
<% content_for :head do%>
  <meta name="description" content="We cater a wide range of events, from government functions and corporate conferences, to social gatherings and sporting events throughout the caribbean.">
  <!-- <meta name="keywords" content="about keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-what" title="Catered Caribbean and Latin America Events by GCG Events">
		<!-- <div class="hero-text">
			<h2 class="big">What We Do</h2>
		</div> -->
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="text-center mb60">Simply Outstanding Events</h3>
				<p>At GCG Events, memorable occasions are our specialty. We cater a wide range of events, from government functions and corporate conferences, to social gatherings and sporting events. Our expertise extends to weddings as well. From the engagement party to the farewell brunch, we ensure the wedding experience falls nothing short of extraordinary for our clients. High standards guide everything we do, and it is for that reason that we are able to help those who entrust us to cater their events exceed guests expectations, every time.<br/><br/>Whether catering a wedding in Jamaica or an awards ceremony in Antigua, GCG Events is highly regarded for delivering a superior level of service. There’s a reason our events are described as “simply outstanding,” and it lies in the employees we trust to execute them. We believe a strong team is at the core of every successful event, and thus enlist only the most skilled and dedicated professionals to join ours. Let us demonstrate our commitment to excellence at your next event.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'layouts/services2' %>

<%= render 'layouts/testimonials' %>


