<% provide(:title, "GCG Events | #{@location.name} Event Catering") %>
<% content_for :head do%>
  <meta name="description" content='<%= "GCG Events #{@location.name} offers catering and planning for sports events, weddings, social events, government events, sports events, and corporate events." %>'>
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-location" style="background-image: url(<%= @location.image.present? ? @location.image.pic.url(:big) : '//s3-us-west-2.amazonaws.com/gcg-catering/hero/hero-locations.jpg' ; %>);"></section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-left center-mobile">
        <h5 class="mb0 color-primary"><%= @location.name %> <%= link_to "(Edit Location)", edit_location_path(@location.title_for_slug) if current_user.try(:admin?) %> </h4>
        <p class="mt15"><%= @location.description.html_safe %></p>
      </div>
      <div class="col-sm-4 text-right center-mobile">
        <h5 class="mb0 color-primary">Contact Details</h5>
        <p class="mt15"><%= @location.specific_location %> <br/><%= @location.name %><br/>Phones(s): <%= @location.phone %><br/>Fax: <%= @location.fax %></p>
        <br>
        <a class="btn btn-default btnBlog" href="#contactourlocation">Contact Us</a>
      </div>
    </div>
    <div class="row mt60">
      <h5 class="mt30 mb60 text-center color-secondary">The Team <%= link_to "(Add new member)", new_profile_path(location_id: @location.id)  if current_user.try(:admin?)%></h5>
      <% @profiles.each do |profile| %>
      <div class="col-sm-4 text-center mb30 mobile50">
        <%= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
        <h6><%= profile.full_name %></h6>
        <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px;">
          <%= profile.title %> 
        </p>
        <% if profile.telephone.present? %>
          <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px;""><%= "Tel. #{profile.telephone}" %></p> 
        <% else %>
          <p style="color: #888; line-height: 28px; font-weight: normal; font-size: 14px; visibility: hidden;"><%= "Tel. #{profile.telephone}"%></p>
        <% end %>
        <% if current_user.try(:admin?) %>
          <div>Location: <%= profile.location.name %></div> <br>
          <div>Position: <%= profile.position %></div> <br>
          <div><%= link_to 'Edit', edit_profile_path(profile, location_id: @location.id), class:"btn btn-default btnBlog" if current_user.try(:admin?) %></div> <br>
          <div><%= link_to 'Destroy', profile_path(profile), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)%></div>
        <% end %>
      </div>
      <% end if @profiles.present?%>
      
    </div>
  </div>
</section>


<!-- Location  -->
<section class="bg-light-orange">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="mb60 text-center color-white">Our Location</h5>
        <div class="map map-container">
          <%= @location.iframe.html_safe if @location.iframe.present? %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Form  -->
<section id="contactourlocation">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5 class="mb60 text-center color-secondary">Send us a Message</h5>
        <div class="message">
          <%= form_for Contact.new, :html => { :id => "new_contact", :honeypot => true }, :url => {:controller => "contacts", :action => "create"} do |f| %>
            <%= hidden_field_tag :thislocation,  @location.id %>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :name, class: "sr-only" %>
                <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :email, class: "sr-only" %>
                <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :phone_number, class: "sr-only" %>
                <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <%= f.label :message, class: "sr-only" %>
                <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.submit "Submit", class: "btn btn-default btn-xl btn-custom-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>