<!-- Footer  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 footerMobile">
        <ul>
          <li><a class="white" href="/join-our-team">Join Our Team</a></li>
          <li><a class="white" href="/privacy-policy">Privacy Policy</a></li>
          <li>
            <a class="white" href="https://www.facebook.com/gcgevents/" target="blank"><img src="https://s3.amazonaws.com/shared-social-media/general/facebook.png" alt=""></a> &nbsp;
            <a class="white" href="https://www.instagram.com/gcg_events/" target="blank"><img src="https://s3.amazonaws.com/shared-social-media/general/instagram.png" alt=""></a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 footerMobile text-right">
        <p><b>GCG Events - GCG Group</b><br>
        2525 Embassy Drive Suite #13<br>
        Cooper City, FL 33026 USA<br>
        Phone: (954) 438-9855<br>
        Fax: (954) 438-9560<br></p>
      </div>
    </div>
  </div>
</footer>