<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery001.jpg');"></div>
          </div>
          <div class="col-md-6 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery002.jpg')"></div>
          </div>
          <div class="col-md-3 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery006.jpg');"></div>
          </div>
          <div class="col-md-5 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery003.jpg')"></div>
          </div>
          <div class="col-md-3 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery004.jpg')"></div>
          </div>
          <div class="col-md-4 col-sm-6 item-img">
            <div class="content-img" title="Catered Caribbean and Latin America Events by GCG Events" style="background-image: url('https://s3-us-west-2.amazonaws.com/gcg-events/gallery/gallery005.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>