<!-- Top Navigation  -->
<section class="navigation"> 
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top navbar-custom barra">
      <div class="container">
        <div class="row">
        <div data-scroll-header class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img alt="GCG Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/gcg-events.jpg" class="img-responsive center-block"/></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            
            <ul class="nav navbar-nav navbar-right"> 
              <li><a class="who secondary" href="/who-we-are">Who We Are</a></li>               
                <li class="dropdown">
                  <a class="dropdown-toggle what secondary" href="/what-we-do">What We Do</a>
                  <ul class="dropdown-menu whatwedo">  
                      <li><a class="secondary" href="/social-events">Social Events</a></li>              
                      <li><a class="secondary" href="/weddings">Weddings</a></li>
                      <li><a class="secondary" href="/corporate-events-catering">Corporate Events</a></li>
                      <li><a class="secondary" href="/sporting-events-catering">Sporting Events</a></li>
                      <li><a class="secondary" href="/government-events-catering">Government Events</a></li>
                  </ul>
                </li>
                <li><a class="gallery secondary" href="/gallery">Gallery</a></li> 
                <li><a class="press secondary" href="/news">News</a></li> 
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle where secondary" href="/where-we-are">Where We Are</a>
                  <ul class="dropdown-menu whereweare">
                  <% if current_user.try(:admin?) %>
                  <li><a class="secondary" href="/locations/new">Add new location</a></li>
                  <% end %>
                  <% @locations.each do |location| %> 
                    <li><a class="secondary" href="/locations/<%= location.title_for_slug %>"><%= location.name %></a></li>                               
                      <!-- <li><a class="where" href="/where-we-are-antigua">Antigua</a></li>
                      <li><a class="where" href="/where-we-are-barbados">Barbados</a></li>
                      <li><a class="where" href="/where-we-are-colombia">Colombia</a></li>
                      <li><a class="where" href="/where-we-are-jamaica">Jamaica</a></li>
                      <li><a class="where" href="/where-we-are-grenada">Grenada</a></li>
                      <li><a class="where" href="/where-we-are-guatemala">Guatemala</a></li>
                      <li><a class="where" href="/where-we-are-santa-lucia">Saint Lucia</a></li>
                      <li><a class="where" href="/where-we-are-st-thomas">St Thomas</a></li>
                      <li><a class="where" href="/where-we-are-trinidad">Trinidad</a></li> -->
                    <% end %>
                  </ul>
                </li>
                <li><a class="secondary careers"  href="/join-our-team">Careers</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", :method => :delete %></li>
                <% end %>
            </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</div> 
</section>