<section class="services bg-light-grey">
  <div class="container">
    <div class="row text-center">
      <h3 class="text-center mb60">Our Services</h3>

      <div class="owl-carousel owl-theme">
              
              <div class="item">
                <div class="col-md-12 colMobile">
          <div class="box-services social">
            <div class="wrap-img">
              <a href="/social-events">
                <img alt="Social Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/social-events.jpg" class="img-responsive center-block"/>
              </a>
            </div>
            <div class="text">
              <div class="icon">
                <a href="/social-events"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
              </div>
              <h4><a href="/social-events">Social Events</a></h4>
              <p>
                Family Reunions<br>
                Anniversaries<br>
                Charity Events<br>
                Parties & Dinners<br>
              </p>
              <a href="/social-events" class="btn">Read more</a>
            </div>
          </div>
        </div>
              </div>
              <div class="item">
                <div class="col-md-12 colMobile">
            <div class="box-services weddings">
              <div class="wrap-img">
                <a href="/weddings">
                  <img alt="Weddings" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/weddings.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/weddings"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/weddings">Weddings</a></h4>
                <p>
                  Engagement Parties<br>
                  Bridal Showers<br>
                  Rehearsal Dinners<br>
                  Wedding Receptions<br>
                  Farewell Brunches<br>
                </p>
                <a href="/weddings" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services corporate">
              <div class="wrap-img">
                <a href="/corporate-events-catering">
                  <img alt="Corporate Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/corporate-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/corporate-events-catering"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/corporate-events-catering">Corporate Events</a></h4>
                <p>
                  Awards and Galas<br>
                  Meetings, Conferences and Seminars<br>
                  Staff Parties<br>
                  Product Launches and Promotions<br>
                  Customer Appreciation Parties<br>
                </p>
                <a href="/corporate-events-catering" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services sporting">
              <div class="wrap-img">
                <a href="/sporting-events-catering">
                  <img alt="Sporting Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/sporting-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/sporting-events-catering"><i class="fa fa-trophy" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/sporting-events-catering">Sporting Events</a></h4>
                <p>
                  Teams<br>
                  Staff<br>
                  Hospitality Boxes<br>
                  &nbsp;<br>
                </p>
                <a href="/sporting-events-catering" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services government">
              <div class="wrap-img">
                <a href="/government-events-catering">
                  <img alt="Government Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/government-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/government-events-catering"><i class="fa fa-university" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/government-events-catering">Government Events</a></h4>
                <p>
                  Protocol Functions<br>
                  Embassies<br>
                  Presidential Functions<br>
                  &nbsp;<br>
                </p>
                <a href="/government-events-catering" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
            </div>
    </div>
  </div>
</section> 

