<section class="services bg-light-grey">
  <div class="container">
    <div class="row text-center">
      <h3 class="text-center mb60">Our Services</h3>

      <div class="owl-carousel owl-theme">
              
              <div class="item">
                <div class="col-md-12 colMobile">
          <div class="box-services social">
            <div class="wrap-img">
              <a href="/social-events">
                <img alt="Social Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/social-events.jpg" class="img-responsive center-block"/>
              </a>
            </div>
            <div class="text">
              <div class="icon">
                <a href="/social-events"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
              </div>
              <h4><a href="/social-events">Social Events</a></h4>
              <p>With outstanding food and supreme service, any event catered by GCG Events is sure to be a hit with guests.</p>
              <a href="/social-events" class="btn">Read more</a>
            </div>
          </div>
        </div>
              </div>
              <div class="item">
                <div class="col-md-12 colMobile">
            <div class="box-services weddings">
              <div class="wrap-img">
                <a href="/weddings">
                  <img alt="Weddings" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/weddings.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/weddings"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/weddings">Weddings</a></h4>
                <p>Your wedding is one of the most significant events in your life. We’ll ensure it’s a day to remember by crafting the menu of your dreams.</p>
                <a href="/weddings" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services corporate">
              <div class="wrap-img">
                <a href="/corporate-events">
                  <img alt="Corporate Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/corporate-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/corporate-events"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/corporate-events">Corporate Events</a></h4>
                <p>Whether planning a breakfast seminar or a black tie event, GCG Events is the perfect choice for your corporate catering needs.</p>
                <a href="/corporate-events" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services sporting">
              <div class="wrap-img">
                <a href="/sporting-events">
                  <img alt="Sporting Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/sporting-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/sporting-events"><i class="fa fa-trophy" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/sporting-events">Sporting Events</a></h4>
                <p>With a wide range of menu items and the ability to accommodate a crowd of any size, our sports catering services are unrivaled.</p>
                <a href="/sporting-events" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
              <div class="item">
          <div class="col-md-12 colMobile">
            <div class="box-services government">
              <div class="wrap-img">
                <a href="/government-events">
                  <img alt="Government Events" src="https://s3-us-west-2.amazonaws.com/gcg-events/general/government-events.jpg" class="img-responsive center-block"/>
                </a>
              </div>
              <div class="text">
                <div class="icon">
                  <a href="/government-events"><i class="fa fa-university" aria-hidden="true"></i></a>
                </div>
                <h4><a href="/government-events">Government Events</a></h4>
                <p>Our team is well-versed in the unique needs of government clients, including the many rules and restrictions associated with catering these events.</p>
                <a href="/government-events" class="btn">Read more</a>
              </div>
            </div>
          </div>
              </div>
            </div>
    </div>
  </div>
</section>

