<section class="testimonial bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-lg hidden-md hidden-sm visible-xs ">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p>“ An outstanding presentation and service on the day of the event. The client was very happy with the overall service and had several persons request the name of the catering service. One of the guests on the table stated that the salmon was the best he had ever had! ”</p>
                <h6>- Hornbeck Offshore Employee</h6>
              </div>
              <div class="item">
                <p>“ The barman was exceptional! From the time the partnership was finalized, it was impressive how quickly and efficiently the GCG team was able to pull the menu, presentation and setup together. ”</p>
                <h6>- GSB Cocktail Coordinator, Women In Leadership Conference</h6>
              </div>
              <div class="item">
                <p>“ Staff are always kind and professional. Excellent job always. ”</p>
                <h6>- Bhp Billiton Restaurant, Customers</h6>
              </div>
              <div class="item">
                <p>“ The food was exceptional. Very happy with the service. ”</p>
                <h6>- GSB Restaurant Customers</h6>
              </div>
              <div class="item">
                <p>“ The food is tasting good, everyone including expats are amazed with taste.”</p>
                <h6>- Hornbeck Offshore Employee</h6>
              </div>
            </div>
            <div class="hidden-xs">
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fa fa-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fa fa-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
